<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to "Dashboard", root_path %></a></li>
      <li><%= link_to "Professionals", professionals_path %></li>
      <li class="active">New Professionals</li>
    </ol>
  </div>
</div>

<div class="row header-list">
  <div class="col-md-10 col-sm-9">
    <h1>New Professional</h1>
  </div>
  <div class="col-md-2 col-sm-3 v-align">
    <div>
      <%= link_to professionals_path, class: 'btn btn-primary pull-right' do %>
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back
      <%end%>
    </div>
  </div>
</div>

<br>

<%= render 'form', professional: @professional %>
