
//Colors
$brand-primary:         #EB1A3D !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//Navbar
$navbar-default-bg:		#EEE !default;
$navbar-default-color: #747576;
$navbar-default-link-color: #747576;
$navbar-default-link-hover-color: #EB1A3D;
$navbar-height: 62px;